* { box-sizing: border-box;}

  .main_header{
    background-color: #384047;
    color: #f4f7f8;
    font-weight: bold;
    padding-bottom: 50px;

  }

  .flex{
    justify-content: center;

  }

  .main_header{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height:40px;
    

}

.signup{
    display: flex;
    flex-direction: column;
    height:40px;
    align-items: center;
    font-size: x-large;
    margin-bottom: 10px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.newsBro{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: lighter;
    color:  rgb(190, 184, 184);
    font-size: 12px;
    margin-bottom: 30px;
      }

      .linebreak{
border-bottom: rgb(0, 0, 0);
border-style: double;
margin: 0 45px;
      }
  
  body {
    font-family: 'Raleway', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 400px;
    margin: 30px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

  
  legend {
     font-weight: bold; 
    margin: 0 0 30px 0;
    text-align: left;
  }
 
  
   input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border:none;
    outline-color: lightsalmon; 
    font-size: 16px;
    height: auto;
    margin: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
  }  

  input:focus{

    border-bottom-color: lightsalmon;
  }

  
  input[type="radio"],
  input[type="checkbox"],
  label.light {
    margin: 0 4px 8px 0;
    display: inline-block;
  }

  
  select {
    /* padding: 6px; */
    /* height: 32px; */
    /* border-radius: 2px; */
  }
  
  button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #4bc970;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 10px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  


 ::placeholder{
     text-align: right;
     font-style: italic;
     font-size: 10px;
     padding-right: 5px;
 }

 footer{
     text-align: center;
     font-style: italic;
 }
  
  @media (min-width: 769px) {

    .linebreak{
        border-bottom: rgb(0, 0, 0);
        border-style: double;
        margin: 0 200px;
              }
  
     form {
      min-width: 100%;
    } 

    main{
    padding: 0 .7em;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
  }

  .cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cont label{
    padding-right:90px;
  }

  
  

  .cont input{
    width:70%;
    margin-right: 10px;
    
  }

     /* .try1{
      flex-basis: 10%;
    }   */

  
  
  }
  